
  <div class=" sidebar-default" id="sidebar"> <!-- expandable sidebar-fixed d-xl-block -->
  <!--<div class="sidebar-inner">-->
  <!--<div class="ace-scroll" ace-scroll> flex-grow-1-->
    <div style="background-color: #fff"></div>
    <div  class="main-subsidebar">
      
          <ul class="nav has-active-border" role="navigation" aria-label="Main">
          <li class="nav-item">
              <a href="#" class="nav-link dropdown-toggle">
                  <span class="nav-text fadeable ml-1">Layouts</span>
                  <b class="caret fa fa-angle-left"></b>
              </a>
              <div class="hideable submenu collapse">
              <ul class="submenu-inner">
                  <li class="nav-item">
                    <a class="nav-link" href="html/dashboard-2.html">
                      <span class="nav-text"><span>Dashboard 2</span></span>
                    </a>
                  </li>
                  <li class="nav-item"><a class="nav-link" href="#">Dashboard 3</a></li>
                  <li class="nav-item"><a class="nav-link" href="#"><span class="nav-text"><span>Horizontal Menu</span></span></a></li>
                  <li class="nav-item"><a class="nav-link" href="#"><span class="nav-text"><span>Two Menus 1</span></span></a></li>
                  <li class="nav-item"><a class="nav-link" href="#">Two Menus 2</a></li>
                  <li class="nav-item"><a class="nav-link" href="#"><span class="nav-text"><span>Landing Page 1</span></span></a></li>
                  <li class="nav-item"><a class="nav-link" href="#"><span class="nav-text"><span>Landing Page 2</span></span></a></li>
                  <li class="nav-item"><a class="nav-link" href="#"><span class="nav-text"><span>Coming Soon</span></span></a></li>
              </ul></div>     
              <b class="sub-arrow"></b>
          </li>
          <li class="nav-item">
              <a href="#" class="nav-link dropdown-toggle">
                  <span class="nav-text fadeable ml-1">UI Elements</span>
                  <b class="caret fa fa-angle-left"></b>
              </a>
              <div class="hideable submenu collapse show" style="overflow:hidden;">
              <ul class="submenu-inner">
                  <li class="nav-item active">
                    <a href="#" class="nav-link">
                      <i class="fa fa-desktop-card text-blue mr-1"></i><span style="width: 100%">Elements</span>
                    </a>
                  </li>
                  <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-desktop text-blue mr-1"></i> Buttons</a></li>
                  <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-desktop text-blue mr-1"></i> Typography</a></li>
                  <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-desktop text-blue mr-1"></i><span> Secuencias Funcionales del SIAF 2020 - II</span></a></li>
                  <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-desktop text-blue mr-1"></i>Icons</a></li>
                  <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-desktop text-blue mr-1"></i>Charts</a></li>
                  <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-desktop text-blue mr-1"></i>Treeview</a></li>
              </ul></div>
              <b class="sub-arrow"></b>
          </li>
          <li class="nav-item">
              <a href="#" class="nav-link dropdown-toggle">
                  <span class="nav-text fadeable">Tables &amp; Grids</span>
                  <b class="caret fa fa-angle-left rt-n90"></b>
              </a>
              <div class="hideable submenu collapse">
              <ul class="submenu-inner">
                  <li class="nav-item"><a href="html/tables-basic.html" class="nav-link"><i class="fa fa-desktop text-blue mr-1"></i>Basic Tables</a></li>
                  <li class="nav-item">
                      <a href="#" class="nav-link dropdown-toggle">
                          <span class="nav-text"><span>Dynamic Tables</span></span>
                          <b class="caret fa fa-angle-left rt-n90"></b>
                      </a>
                      <div class="hideable submenu collapse">
                      <ul class="submenu-inner">
                          <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-desktop text-blue mr-1"></i>DataTables</a></li>
                          <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-desktop text-blue mr-1"></i>Bootstrap Table</a></li>
                          <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-desktop text-blue mr-1"></i>jqGrid</a></li>
                      </ul></div>
                      <b class="sub-arrow"></b>
                  </li>
              </ul></div>
              <b class="sub-arrow"></b>
          </li>
          <li class="nav-item">            
              <a href="#" class="nav-link dropdown-toggle">
                  <span class="nav-text fadeable">Forms &amp; Elements</span>
                  <b class="caret fa fa-angle-left rt-n90"></b> 
              </a>
              <!--<div class="hideable submenu collapse">-->
  
              <div class="hideable submenu collapse" style="overflow: auto">
                <table class="ui-tree" aria-labelledby="gbox_grid-table" style="height:100%!important;">
                  
                  <tbody style="overflow-x: auto;">
                    <tr class="ui-row" role="row">
                      <td class="ui-grid-cell-tree" role="gridcell" aria-describedby="grid-table_id">
                      <img src="assets/image/tree/elbow.gif" class="ui-tree-icon-elbow">
                      <img src="assets/image/tree/leaf.png" class="ui-tree-icon-leaf">
                      <span>Sub Menu 1</span>
                      </td>
                    </tr>
                    <tr class="ui-row" role="row">
                      <td class="ui-grid-cell-tree" role="gridcell" aria-describedby="grid-table_id">
                        <img src="assets/image/tree/elbow.gif" class="ui-tree-icon-elbow">
                        <img src="assets/image/tree/leaf.png" class="ui-tree-icon-leaf">
                        <span>Sub Menu 1 DENTRO DE LAS COTIAZAVCIONES EN LINEA</span>
                    </tr>
                    <tr class="ui-row" role="row">
                      <td class="ui-grid-cell-tree" role="gridcell" aria-describedby="grid-table_id">
                        <img src="assets/image/tree/elbow-end.gif" class="ui-tree-icon-elbow">
                        <img src="assets/image/tree/leaf.gif" class="ui-tree-icon-leaf">
                        <span>DANYER VALENCIA LLAMOCA DANYER VALENCIA LLAMOCA</span>
                    </tr>
                  </tbody>
                </table>
  
              </div>
              <b class="sub-arrow"></b>
          </li>
          <li class="nav-item">               
              <a href="html/calendar.html" class="nav-link">
                  <i class="nav-icon far fa-calendar-alt"></i>
                  <span class="nav-text fadeable"><span>Calendar</span>
                      <span class="badge px-1 " title="2 Urgent Events"><i class='fas fa-exclamation-triangle text-140 text-danger-m2'></i></span>
                  </span>
              </a>               
              <b class="sub-arrow"></b>
          </li>
          </ul>
  
    </div>
  <!--</div>-->
  </div>
